@model IEnumerable<p9.Models.Reparation>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>


<table class="table">
    <a>
        <img width=85% height=85% src="../../Photos/imagecompteur voiture2 (2).png">

    </a>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateReparation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeIntervention)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoutReparation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Voiture)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateReparation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeIntervention)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoutReparation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Voiture.Finition)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
