@model p9.Models.Voiture

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Voiture</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Annee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Annee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Marque)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Marque)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Modele)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Modele)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Finition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Finition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateAchat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateAchat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrixAchat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrixAchat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrixVente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrixVente)
         
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateVente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateVente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstDisponible)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstDisponible)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
      @*  <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomPhoto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomPhoto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CheminPhoto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CheminPhoto)
        </dd>*@
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
