@model IEnumerable<p9.Models.Voiture>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.UtilisateurId)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Annee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marque)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modele)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Finition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateAchat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrixAchat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reparations)
            </th>
            <th>
                Cout Reparations
            </th>
            <th>
                Total Reparations
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrixVente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateVente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstDisponible)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
          @*  <td>
                @Html.DisplayFor(modelItem => item.UtilisateurId)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Annee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marque)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modele)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Finition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateAchat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrixAchat)
                
            </td>
              
                <td>
                    @foreach (var rep in item.Reparations)
                    {
                        <p> @rep.TypeIntervention </p>
                    }
                </td>
                <td>
                    @foreach (var coutRep in item.Reparations)
                    {
                        <p> @coutRep.CoutReparation </p>
                    }
                </td>
                <td>
                    @{
                    float totalCoutReparation = 0;
                    foreach (var rep in item.Reparations)
                    {
                        totalCoutReparation += rep.CoutReparation;
                    }
                    }
                    <p> @totalCoutReparation </p>
                </td>
               
            <td>
                @*Html.DisplayFor(modelItem => item.PrixVente)
                *@
                    @(item.Reparations.Sum(s => s.CoutReparation) + item.PrixAchat + 500)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.DateVente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstDisponible)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
